*{
    font-family: 'Poppins', sans-serif;
  }
    .mynav {
      /* background-image: linear-gradient(50deg,  rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('mountian.jpg'); */
      
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 100vh;   
      background-position: center;
      background-size: cover;
    
    }
  
    .navbar {
  
      background-color: transparent !important;
     
      margin-right: auto;
    }
  
    
  
    .navbar .nav-link {
      font-size: 22px;
  
      padding-right: 20px;
    }
  
    .navbar .navbar-brand {
      /* font-size: 20px !important; */
      font-size: larger;
     
    }
  
    .navbar .nav-item {
      padding-right: 30px;
    }
  
    .head {
      padding-top: 8vw;
      letter-spacing: 5px;
      font-size: 5vw;
    }
    .zoom {
         
          overflow: hidden;
          /* margin: 0 auto; */
      }
         
      .zoom img {
        /* overflow: hidden; */
          transition: 0.5s all ease-in-out;
      }
         
      .zoom:hover img {
       
          transform: scale(1.05);
      }
  
  /* [2] Transition property for smooth transformation of images */
  
    .button {
      border-radius: 4px;
      background-color: #1e69f4;
      border: none;
      color: #FFFFFF;
      text-align: center;
      /* align-items: center; */
      margin-left: auto;
      margin-right: auto;
      font-size: 2vw;
      padding: 1vw;
      width: 12vw;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
  
    .form-container {
      background: #fff;
      /* position: absolute; */
      top: 35vh;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 6px 0px #000;
  
    }
  
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
  
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  *{
      overflow: hidden;
  }
    .button:hover span {
      padding-right: 25px;
    }
  
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .nav-links ul li a{
      color: white;
      
  
    }
  .nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    text-align: center;
    background:#ff5144;
    display: block;
  transition: 0.5s;
  }
  .nav-links ul li :hover::after{
    width: 100%;
  }
  
    /* Footer */
    footer {
      width: 100%;
      position: bottom;
      bottom: 0px;
      
      background: linear-gradient(45deg, rgb(17, 17, 17), rgb(116, 116, 116));
      color: #fff;
      padding: 30px 0 30px;
      
      font-size: 13px;
      line-height: 20px;
    }
  
    .row {
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .col {
      flex-basis: 25%;
      padding: 10px;
    }
  
    .col:nth-child(2),
    .col:nth-child(3) {
      flex-basis: 25%;
      padding: 10px;
    }
  
    .logo {
      width: 150px;
      margin-bottom: 5%;
    }
  
    .col h3 {
      width: fit-content;
      text-align: center;
      margin-bottom: 40px;
      position: relative;
    }
  
    .email-id {
      width: fit-content;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      margin: 20px 0;
  
    }
  
    ul li {
      list-style: none;
      margin-bottom: 12px;
    }
  
    ul li a {
      text-decoration: none;
      font-size: 15px;
      color: #fff;
    }
    ul li a:hover {
      text-decoration: none;
      font-size: 15px;
      color: rgb(175, 175, 175);
    }
    .hero-btn{
      display: inline-block;
      text-decoration: none;
      color: white;
      border: 1px solid #fff;
      padding: 12px 34px;
      font-size: 13px ;
      background: transparent;
      position: relative;
      cursor: pointer;
      transition: .5s;
    }
    .hero-btn:hover{
      border: 1px solid #36f456;
      background:#36f456;
      color: white;
      transition: .5s;
  
    }
    .hero-btn1{
      display: inline-block;
      text-decoration: none;
      color: rgb(22, 22, 22);
      border: 1px solid rgb(58, 58, 58);
      padding: 12px 34px;
      font-size: 13px ;
      background: transparent;
      font-size:15px;
      position: relative;
      cursor: pointer;
      transition: .5s;
    }
    .hero-btn1:hover{
      border: 1px solid #36f456;
      background:#36f456;
      color: rgb(31, 31, 31);
      transition: .5s;
  
    }
    /* .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  } */
    .social-icons .fab {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
    }
  
    hr {
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 20px auto;
    }
    /* h1{
      width: 0ch;
      overflow: hidden;
      white-space: nowrap;
      animation: text-1 7s  infinite;
      
      border-right:3px solid white ;
      
    }
  @keyframes text-1{
  0%{
    width: 0ch;
  }
  50%{
    width:19ch ;
  }
  }
    .copyright {
      text-align: center;
    } */
  h1{
    padding-top: 5%;
    font-size: x-large;
  }
    .underline {
      width: 100%;
      height: 5px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top: 35px;
      left: 0;
      overflow: hidden;
    }
    .ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  /* @media (max-width : 700px){
  
    .ml11{
      font-size: 24px;
    }
  } */
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
    .underline span {
      width: 15px;
      height: 100%;
      background: #fff;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 2s linear infinite;
    }
  
    @keyframes moving {
      0% {
        left: -20px;
      }
  
      100% {
        left: 100px;
      }
    }
  
   
    @media (max-width:700px) {
      footer {
        bottom: unset;
      }
  
      .col {
        flex-basis: 100%;
  
      }
  
      .col:nth-child(2),
      .col:nth-child(3) {
        flex-basis: 100%;
  
      }
    }
  
    .college {
      color: #ffffff;
      padding-left: 0px;
      font-family: "Poppins", sans-serif;
    }
  
    
  
    .college-name {
      font-size: 20px;
    }
  